<div ng-controller="postsController">
  <textarea class="u-full-width"
            placeholder="What's on your mind? (Press enter to submit)"
            ng-model="post"
            ng-keypress="sendPost($event)"
            required>
  </textarea>
  <table>
    <tr>
      <a ng-click="setNewPosts()" ng-if="incomingPosts.length > 0">{{difference}} new posts</a>
    </tr>
    <tr ng-repeat="post in posts">
      <td>
        <span ng-class-odd="'odd'" ng-class-even="'even'">
        {{ post.user }}<image ng-src="{{ post.userImage }}">
        </span>
      </td>
      <td>
        <span ng-class-odd="'odd'" ng-class-even="'even'">
        <i>{{ post.date | date: 'MM/dd/yyyy hh:mm a' }}</i>
          <br>
          <p>{{ post.post }}</p>
        </span>
      </td>
    </tr>
  </table>
</div>
